<a href="https://colab.research.google.com/github/Debayan97531/Pandas/blob/main/Panda11merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#merging cloumns or indexes in dataFrame based on one or  more keys

In [ ]:
import pandas as pd

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],
                 'Class':[9,10,11,12] })
df1

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [ ]:
df2=pd.DataFrame({'ID':[1,2,3,5],
                 'Name':['A','B','C','D'] })
df2

   ID Name
0   1    A
1   2    B
2   3    C
3   5    D

In [ ]:
pd.merge(df1,df2,on='ID')

   ID  Class Name
0   1      9    A
1   2     10    B
2   3     11    C

In [ ]:
pd.merge(df2,df1,on='ID')#intersection part

   ID Name  Class
0   1    A      9
1   2    B     10
2   3    C     11

In [ ]:
pd.merge(df1,df2,on='ID',how='inner')

   ID  Class Name
0   1      9    A
1   2     10    B
2   3     11    C

In [ ]:
pd.merge(df1,df2,on='ID',how='left')#based on df1

   ID  Class Name
0   1      9    A
1   2     10    B
2   3     11    C
3   4     12  NaN

In [ ]:
pd.merge(df1,df2,on='ID',how='right')

   ID  Class Name
0   1    9.0    A
1   2   10.0    B
2   3   11.0    C
3   5    NaN    D

In [ ]:
pd.merge(df1,df2,on='ID',how='outer')#union

   ID  Class Name
0   1    9.0    A
1   2   10.0    B
2   3   11.0    C
3   4   12.0  NaN
4   5    NaN    D

In [ ]:
pd.merge(df1,df2,on='ID',how='outer',indicator=True)

   ID  Class Name      _merge
0   1    9.0    A        both
1   2   10.0    B        both
2   3   11.0    C        both
3   4   12.0  NaN   left_only
4   5    NaN    D  right_only

In [ ]:
df2=pd.DataFrame({'ID':[6,7,8,9],
                 'Name':['A','B','C','D'] })
df2

   ID Name
0   6    A
1   7    B
2   8    C
3   9    D

In [ ]:
pd.merge(df1,df2,left_index=True,right_index=True)#to show all diff index

   ID_x  Class  ID_y Name
0     1      9     6    A
1     2     10     7    B
2     3     11     8    C
3     4     12     9    D

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],
                 'Class':[9,10,11,12] })
df1

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [ ]:
df2=pd.DataFrame({'ID':[1,2,3,4],
                 'Class':[9,10,11,12] })
df2

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [ ]:
pd.merge(df1,df2,on='ID')#same value->suffixes work here

   ID  Class_x  Class_y
0   1        9        9
1   2       10       10
2   3       11       11
3   4       12       12

In [ ]:
pd.merge(df1,df2,on='ID',suffixes=('Higher','_Middle'))

   ID  ClassHigher  Class_Middle
0   1            9             9
1   2           10            10
2   3           11            11
3   4           12            12