<a href="https://colab.research.google.com/github/Debayan97531/Pandas/blob/main/panda2dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**creating data frame**

In [ ]:
import pandas as pd

In [ ]:
end_df=pd.DataFrame()
print(end_df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
lst=['a','b','c']
print(lst)

['a', 'b', 'c']

In [ ]:
df1=pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [ ]:
df1

   0
0  a
1  b
2  c

In [ ]:
ls_of_ls=[[1,4,5],[4,5,7],[7,9,3]]
print(ls_of_ls)

[[1, 4, 5], [4, 5, 7], [7, 9, 3]]

In [ ]:
df2=pd.DataFrame(ls_of_ls)
df2

   0  1  2
0  1  4  5
1  4  5  7
2  7  9  3

#dict of list

In [ ]:
dict1={'ID':[3,45,33,55]}
dict1

{'ID': [3, 45, 33, 55]}

In [ ]:
df3=pd.DataFrame(dict1)
df3

   ID
0   3
1  45
2  33
3  55

In [ ]:
dict1={'ID':[11,33,44,55],'SN':[34,45,55,66]}
dict1

{'ID': [11, 33, 44, 55], 'SN': [34, 45, 55, 66]}

In [ ]:
df3=pd.DataFrame(dict1)
df3

   ID  SN
0  11  34
1  33  45
2  44  55
3  55  66

In [ ]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4}]
df5=pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [ ]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4,'c':6}]
df5=pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  6.0

#dict of series

In [ ]:
dict_sr={'ID':pd.Series([2,5,6]),'SN':pd.Series([111,333])}
df6=pd.DataFrame(dict_sr)
df6

   ID     SN
0   2  111.0
1   5  333.0
2   6    NaN